AWS_DEFAULT_REGION=us-east-1


# 
# Core Sigma resources
SIGMA_S3_BUCKET=sigma-datatech-<your-team-name>
SIGMA_STREAM=sigma-transactions


# Bedrock supervisor agent values provided by the trainer
SUPERVISOR_AGENT_ID=<from-trainer>
SUPERVISOR_ALIAS_ID=<from-trainer>
GUARDRAIL_ID=<from-trainer>
KNOWLEDGE_BASE_ID=<from-trainer>



# sorted
# Snowflake
SNOWFLAKE_ACCOUNT=<your -account>
SNOWFLAKE_USER=<your-user>
SNOWFLAKE_PASSWORD=<your-password>
SNOWFLAKE_DATABASE=SIGMA
SNOWFLAKE_SCHEMA=SILVER
SNOWFLAKE_WAREHOUSE=SIGMA_WH

# Alerts and Lambda deployment
SNS_TOPIC_ARN=arn:aws:sns:us-east-1:<account-id>:sigma-alerts
LAMBDA_ROLE_ARN=arn:aws:iam::<account-id>:role/sigma-lambda-role
PRODUCER_LAMBDA_NAME=sigma-kinesis-producer
PRODUCER_LAMBDA_ALIAS=LIVE


# sorted 
# Optional Langfuse tracing
LANGFUSE_PUBLIC_KEY=
LANGFUSE_SECRET_KEY=
LANGFUSE_HOST=https://cloud.langfuse.com
